
extends layout

block content
  include author
  each article in articles
    article.article.intro
      header
        p.date
          span= moment.utc(article.date).format('DD. MMMM YYYY')
        h2
          a(href=locals.url + article.url)= article.title
      section.content
        if article.intro.length > 0
          != typogr(article.intro).typogrify()
        if article.hasMore
          p.more
            a(href=locals.url + article.url) more

      div.article__tags   
        span
          i.fa.fa-tags  
        | #{ ' Tags : ' } 
        - var tags = env.helpers.getTagsFromArticle(article)
          each tag in tags
            if env.helpers.getTagHome(tag) !== undefined
              a(href=locals.url+env.helpers.getTagHome(tag).url)= tag

block prepend footer
  div.nav
    if prevPage
      a(href=locals.url + prevPage.url) &laquo; Prev Page
    else
      a(href=locals.url + '/archives/') &laquo; Archives
    if nextPage
      a(href=locals.url + nextPage.url) Next Page &raquo;
